<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommend movies</title>
    <link rel="stylesheet" href="{{url_for('static', filename="styles.css")}}" />
</head>
<body>
    <h1>Movie Recommendations</h1>
    <h2 class="text-5xl md:text-6xl font-bold mb-6"> 
        Discover Your Next <span class="text-yellow-300">Favorite Movie</span>
    </h2>
    <p class="text-xl md:text-2xl mb-12 text-purple-100 max-w-3xl mx-auto">
        Get movie recommendations based on your taste.
    </p>
    <a href="{{url_for('login')}}">
        <button type="button">Login Page</button>
    </a>
</body>
</html>