<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <input type = "text" name = "username" placeholder = "Enter username">
        <input type = "password" name = "password" placeholder = "Enter password">
        <input type = "password" name = "password_confirmation" placeholder = "Re-enter password">
        <button type="submit">Submit</button>
    </form>
    <p><a href="{{url_for('login')}}">Already have an account? Login</a></p>
</body>
</html>